{# @var transferHistory \wsydney76\work\records\TransferHistoryRecord #}
{% set draftId = craft.app.request.requiredQueryParam('draftId') %}
{% set siteId = craft.app.request.requiredQueryParam('siteId') %}
{% set isProvisionalDraft = craft.app.request.requiredQueryParam('isProvisionalDraft', 0) %}

{% set entry = craft.entries
    .draftId(draftId)
    .provisionalDrafts(isProvisionalDraft)
    .siteId(siteId)
    .anyStatus()
.one %}

{% if not entry %}
    {% exit 404 %}
{% endif %}

{% if entry.creatorId != currentUser.id and not currentUser.can('viewpeerprovisionaldrafts') %}
    {% exit 403 %}
{% endif %}

{% set canonicalEntry = entry.canonical %}

<div class="compare-heading">
    {% set user = craft.users.id(entry.creatorId).one %}
    {{ entry.draftName }}:
    {{ 'Draft created by'|t('work') }} {{ user ? user.fullName : entry.creatorId }}, {{ 'last updated'|t('work') }}
    : {{ entry.dateUpdated|datetime }}
</div>

<div class="compare-body">

    {% include 'work/compare/transfer_provisionalDraft.twig' with {
        entry
    } only %}

    <h1>
        {% embed 'work/compare/columns.twig' %}
            {% block left %}
                {{ entry.isProvisionalDraft ? 'Edited'|t('work') : 'Draft'|t('work') }}
            {% endblock %}
            {% block right %}
                {{ 'Current'|t('work') }}
            {% endblock %}
        {% endembed %}
    </h1>

    {# Compare default attributes #}
    {% include 'work/compare/attributes_diff.twig' with {
        entry, canonicalEntry
    } only %}


    {# Compare custom fields #}
    {% include 'work/compare/element_diff.twig' with {
        element: entry, canonicalElement: canonicalEntry
    } only %}

</div>

