{% if entry.canTransfer() %}
    <form method="post" class="transfer-form"
          onsubmit="return confirm('{{ 'Transfer provisional Draft?'|t('work') }}')">
        {{ csrfInput() }}
        {{ actionInput('work/content/transfer') }}
        {{ hiddenInput('id', entry.id) }}
        {{ hiddenInput('draftId', entry.draftId|hash) }}
        {{ hiddenInput('creatorId', entry.creatorId|hash) }}
        <button type="submit" class="btn submit">{{ 'Transfer to my account'|t('work') }}</button>
    </form>

{% endif %}

{% if entry.isProvisionalDraft %}
    {% set transferHistories = entry.transferHistory %}
    {% if transferHistories %}
        <h3>{{ 'Transfer History'|t('work') }}</h3>
        <div class="transfer-history">
            {% for transferHistory in transferHistories %}
                <div>
                    {{ craft.app.formatter.asDatetime(transferHistory.dateCreated) }}
                    {{ 'from'|t('work') }} {{ transferHistory.fromUserName }}
                    {{ 'to'|t('work') }} {{ transferHistory.toUserName }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
