{% set draftBlocks = value.anyStatus().all %}
{% set currentBlocks = canonicalValue.anyStatus().all %}

{% for block in draftBlocks %}
    {% set canonicalBlock = block.canonical %}
    {% set blockIsNew = canonicalBlock.id == block.id %}

    {% set blockHasChanged = false %}
    {% set blockHasMoved = block.sortOrder != canonicalBlock.sortOrder %}
    {% set blockStatusChanged = block.status != canonicalBlock.status %}

    {% for field in block.fieldLayout.fields %}
        {% if block.isFieldModified(field.handle) %}
            {% set blockHasChanged = true %}
        {% endif %}
    {% endfor %}

    {% if blockIsNew or blockHasChanged or blockHasMoved or blockStatusChanged %}
        <div class="matrixblock field-diff-block">
            <div class="titlebar field-diff-blockname {{ blockIsNew ? 'field-diff-new' }}">
                <div>
                    {{ block.type.name|t }}
                    {{ blockIsNew ? " - #{'New'|t('work')}" }}
                    {{ blockHasMoved and not blockHasChanged and not blockIsNew ? " - #{'Moved without changes'|t('work')}" }}
                    {{ blockStatusChanged ? "- #{'Status changed'|t('work')} from #{block.status|t('work')} to #{canonicalBlock.status|t('work')}" }}
                </div>
                <div>
                    {{ 'Order'|t('work') }}: {{ 'Draft'|t('work') }}: {{ block.sortOrder }} /
                    {{ 'Current'|t('work') }}: {{ canonicalBlock.id != block.id ? canonicalBlock.sortOrder : '-' }}
                </div>
            </div>

            {% if blockIsNew %}
                {{ _self.blockContent(block) }}
            {% elseif blockHasMoved and not blockHasChanged %}
                {{ _self.blockContent(block, 1) }}
            {% elseif blockStatusChanged and not blockHasChanged %}
                {{ _self.blockContent(block) }}
            {% else %}
                {% include 'work/compare/element_diff.twig' with {
                    element: block, canonicalElement: canonicalBlock, level: 1
                } only %}
            {% endif %}
        </div>
    {% endif %}

{% endfor %}

{# Deleted blocks #}
{% set draftBlocksCanonicalIds = draftBlocks|map(b => b.canonicalId) %}
{% for block in currentBlocks if block.id not in draftBlocksCanonicalIds %}
    <div class="matrixblock field-diff-block">
        <div class="titlebar field-diff-blockname field-diff-deleted">
            <div>
                {{ block.type.name }} - {{ 'Deleted'|t('work') }}
            </div>
            <div>
                {{ 'Order'|t('work') }}: {{ 'Draft'|t }}: {{ block.sortOrder }}
                / {{ 'Deleted'|t('work') }}
            </div>
        </div>
        {{ _self.blockContent(block) }}
    </div>
{% endfor %}


{% macro blockContent(block, count = 9999) %}
    {% for field in block.fieldLayout.fields %}
        {% if loop.index <= count %}
            <div class="field-diff field-diff-level-1">
                <h2>{{ field.name }}</h2>
                {% include 'work/compare/display_value.twig' with {
                    field, value: block.fieldValue(field.handle)
                } only %}
            </div>
        {% endif %}
    {% endfor %}
{% endmacro %}
